{{!-- views/partials/activity-item.hbs --}}
<div class="max-w-96 rounded-lg shadow-md p-4 mb-4">
    <div class="flex justify-between items-center">
        <div>
            {{!-- TODO: Add subtle styling per activity --}}
            <h3 class="text-lg font-semibold">{{activity_name}}</h3>
            <p class="text-sm text-gray-600">{{formatDate activity_date}}{{#if activity_time}} at
                {{formatTime activity_time}}{{/if}}</p>
            <p>{{#if distance_mi}}{{distance_mi}}{{else}}0{{/if}} miles • {{duration_minutes}} minutes</p>
            {{#if notes}}<p class="text-sm mt-2">{{notes}}</p>{{/if}}
        </div>
        <form action="/api/activities/{{activity_id}}" method="POST" class="delete-activity-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="text-red-500 hover:text-red-700 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
            </button>
        </form>
    </div>
</div>
