<h2 class="text-xl font-semibold mb-4 mt-4 ml-10">Profile Customization</h2>

<form action="/settings/profile" method="POST" enctype="multipart/form-data" class="container mx-auto px-8 mt-10">            
    
    <div class="mb-6">
        <label class="block text-gray-700 font-semibold mb-2">Profile Picture</label>
        <div class="flex items-center space-x-4">
            <!-- Hidden File Input -->
            <input 
                type="file" 
                name="profilePicture" 
                id="profilePicture" 
                accept="image/*" 
                class="hidden"
            >
            <!-- Profile Picture Label (Clickable) -->
            <label 
                for="profilePicture" 
                class="w-24 h-24 rounded-full bg-gray-200 flex items-center justify-center cursor-pointer 
                    hover:opacity-75 transition-opacity relative group overflow-hidden"
            >
                <!-- Default Icon or Image Preview -->
                <img id="profilePreview" {{#if user.profile_photo_path}}src={{user.profile_photo_path}}{{/if}} class="absolute inset-0 w-full h-full object-cover rounded-full {{#if user.profile_photo_path}}{{else}}hidden{{/if}}">
                <svg id="defaultIcon" class="w-12 h-12 text-gray-400 z-10 {{#if user.profile_photo_path}}hidden{{/if}}" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
            </label>
        </div>
    </div>

    <!-- Display Name -->
    <div class="mb-4">
        <label class="block text-gray-700 font-semibold mb-2" for="displayName">
            Display Name
        </label>
        <input 
            type="text" 
            maxlength="15"
            id="displayName" 
            name="displayName"
            placeholder='{{#if user.display_name}}{{user.display_name}}{{else}}Enter Display Name{{/if}}'
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
    </div>

    <!-- Fitness Level -->
    <div class="mb-4">
        <label class="block text-gray-700 font-semibold mb-2">
            Fitness Level
        </label>
        <div class="flex space-x-4">
            <select 
                name="fitnessLevel" 
                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
                <option value="beginner" {{#if (eq user.fitness_level "beginner")}}selected{{/if}}>Beginner</option>
                <option value="intermediate" {{#if (eq user.fitness_level "intermediate")}}selected{{/if}}>Intermediate</option>
                <option value="advanced" {{#if (eq user.fitness_level "advanced")}}selected{{/if}}>Advanced</option>
                <option value="professional" {{#if (eq user.fitness_level "professional")}}selected{{/if}}>Professional</option>
            </select>
        </div>
    </div>

    <!-- Privacy Settings -->
    <div class="mb-4">
        <label class="block text-gray-700 font-semibold mb-2">
            Profile Visibility
        </label>
        <div class="flex space-x-4">
            <select 
                name="profileVisibility" 
                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
                <option value="anyone" {{#if (eq user.visibility "anyone")}}selected{{/if}}>Anyone</option>
                <option value="friends" {{#if (eq user.visibility "friends")}}selected{{/if}}>Friends</option>
                <option value="private" {{#if (eq user.visibility "private")}}selected{{/if}}>Private</option>
            </select>
        </div>
    </div>

    <!-- Save Changes Button -->
    <div class="mt-6 mb-6">
        <button type="submit" class="px-6 py-4 bg-green-400 text-black font-semibold rounded-xl hover:bg-green-500">
            Save Changes
        </button>
    </div>

    <!-- For frontend messages -->
    <div id="error-message" class="hidden p-2 mb-2 text-sm font-medium rounded-lg bg-red-100 text-red-800" role="alert"></div>
    
    <!-- For backend messages -->
    {{#if message}}
        {{#each message}}
            <div class="p-2 mb-2 text-sm font-medium rounded-lg {{#if this.error}}bg-red-100 text-red-800{{else}}bg-green-100 text-green-800{{/if}}" role="alert">
                {{ this.text }}
            </div>
        {{/each}}
    {{/if}}
</form>