<h1 class="text-2xl font-bold inline-block">Recent</h1>
<!--This button displays a modal which will display any friend requests along with give the ability to send requests to users in database-->

<div class="grid grid-cols-3 gap-8 mt-6">
  <div class="col-span-2 bg-white p-4 rounded-md shadow-md">
    <!--This is where friend activities will be displayed once friend functionality is working, both of these fields will work the same-->
    <h2 class="text-xl font-semibold mb-4">Friends Activity</h2>
    <div class="space-y-4">
      {{#each activities}}
      <div class="flex flex-col p-3 shadow-md rounded-md">
        <div class="text-lg">
          {{!-- profile photo, username, time since post section --}}
          <div class="flex items-center gap-3">
            <img
              src="{{#if profile_photo_path}}{{profile_photo_path}}{{else}}https://avatar.iran.liara.run/username?username={{username}}{{/if}}"
              class="w-10 h-10 object-cover rounded-full">
            <p><strong>{{display_name}}</strong><span class="text-gray-600 text-sm pl-2">@{{username}} ⋅
                {{timeAgo activity_date activity_time}}</span></p>
          </div>
          {{!-- activity data section --}}
          <div class="flex gap-3 mt-4 ml-2">
            <p>{{getActivityIcon activity_name}}</p>
            <div class="flex flex-col gap-2">
              <p class="font-semibold">{{notes}}</p>
              <div class="flex items-center gap-3">
                <div>
                  <p class="mb-1 text-sm text-gray-600">Distance</p>
                  <p>{{distance_mi}} {{pluralize distance_mi "mile" "miles"}}</p>
                </div>
                <div class="bg-gray-300 w-[1px] py-5"></div>
                <div>
                  <p class="mb-1 text-sm text-gray-600">Duration</p>
                  <p>{{formatDuration duration_minutes}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex gap-4 mt-2">
          <button onclick="commentOnActivity({{activity_id}})" class="p-1 w-fit rounded-full hover:bg-blue-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-message-circle">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" />
            </svg>
          </button>
          <button onclick="toggleLike(this, {{activity_id}})" data-activity-id="{{activity_id}}"
            class="like-button p-1 w-fit rounded-full hover:bg-red-300">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-heart">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
            </svg>
          </button>
        </div>

      </div>
      {{/each}}
    </div>
  </div>

  <!--This is where friend achievements will be displayed once friend functionality is working, both of these fields will essentially work the same-->
  <div class="bg-white p-4 rounded-md shadow-md">
    <h2 class="text-xl font-semibold mb-4">Friends Achievements</h2>
    <div class="space-y-3">
      {{#each achievements}}
      <div class="flex items-center gap-3">
        <img
          src="{{#if profile_photo_path}}{{profile_photo_path}}{{else}}https://avatar.iran.liara.run/username?username={{username}}{{/if}}"
          class="w-10 h-10 object-cover rounded-full">
        <p><strong>{{display_name}}</strong> - {{achievement_name}}</p>
      </div>
      <div class="flex bg-green-100 p-4 my-4 rounded-lg items-center">
        <div class="rounded-full bg-green-300 p-2 mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-star">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
          </svg>
        </div>
        <p>{{description}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Comment Modal -->
<div id="comment-modal" class="fixed inset-0 bg-black/50 justify-center items-center hidden z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-1/2 max-w-128 mx-auto mt-20">
    <h2 class="text-xl font-semibold mb-4">Send a Reply</h2>
    <textarea id="comment-text" class="w-full border p-2 rounded mb-4" placeholder="Write your comment..."></textarea>
    <div class="flex justify-end gap-2">
      <button onclick="closeCommentModal()" class="px-4 py-2 bg-white rounded hover:bg-gray-300">Cancel</button>
      <button onclick="submitComment()" class="px-4 py-2 bg-blue-300 rounded hover:bg-blue-400">Send</button>
    </div>
  </div>
</div>
<script src="/js/friends.js"></script>
